*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

.idea/*
system/application/cache/*

*/config/config.php
*/config/database.php
*/config/ion_auth.php
*/views/auth/*